<%- include("../includes/header.ejs", {title: "Update " }); %>

<h1>Update <%= account.email%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    E-Mail:<br /> <input id="email" name="email" type="text" value="<%= account.email%>"/>
    <br />
    First Name:<br /> <input id="first_name" name="first_name" type="text" value="<%= account.first_name%>"/>
    <br />
    Last Name:<br /> <input id="last_name" name="last_name" type="text" value="<%= account.last_name%>"/>
    <br />

    Schools <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) {
            var selected = "";

            if(school[i].account_id == account.account_id) {
                selected = "selected";
            }

        %>
        <option value="<%= school[i].school_id %>" <%= selected %> ><%= school[i].school_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>
    <br />
    Skills <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) {
            var selected = "";

            if(skill[i].account_id == account.account_id) {
                selected = "selected";
            }

        %>
        <option value="<%= skill[i].skill_id %>" <%= selected %> ><%= skill[i].skill_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>
    <br />
    Company <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) {
            var selected = "";

            if(company[i].account_id == account.account_id) {
                selected = "selected";
            }

        %>
        <option value="<%= company[i].company_id %>" <%= selected %> ><%= company[i].company_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    </select>



    <br />

    <input type="submit" />

</form>
<a href="/account/all"><< back</a>
<%- include("../includes/footer.ejs"); %>

</html>