<%- include("../includes/header.ejs", {title:"Accounts" }); %>
    <h1>Account</h1>
    <ul>

        <li>First Name:
            <ul>
                <% for(var i=0; account.length > i; i++ ) { %>
                    <li><%= account[i].first_name %></li>
                <% } %>
            </ul>
        </li>
        <li>Last Name:
            <ul>
                <% for(var i=0; account.length > i; i++ ) { %>
                <li><%= account[i].last_name %></li>
                <% } %>
            </ul>
        </li>
        <li>E-Mail:
            <ul>
                <% for(var i=0; account.length > i; i++ ) { %>
                <li><%= account[i].email %></li>
                <% } %>
            </ul>
        </li>
        <li>School Name:
            <ul>
                <% for(var i=0; school.length > i; i++ ) { %>
                <li><%= school[i].school_name %></li>
                <% } %>
            </ul>
        </li>
        <li>Skill:
            <ul>
                <% for(var i=0; skill.length > i; i++ ) { %>
                <li><%= skill[i].skill_name %></li>
                <% } %>
            </ul>
            <ul>
                <% for(var i=0; skill.length > i; i++ ) { %>
                <li><%= skill[i].description %></li>
                <% } %>
            </ul>
        </li>
        <li>Company:
            <ul>
                <% for(var i=0; company.length > i; i++ ) { %>
                <li><%= company[i].company_name %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>