<%- include("../includes/header.ejs", {title: "Add New Account " }); %>

<h1>Add New Account</h1>
<form action="/account/insert" method="get">

    E-Mail:<br /> <input id="email" name="email" type="text"/>
    <br />
    First Name:<br /> <input id="first_name" name="first_name" type="text"/>
    <br />
    Last Name:<br /> <input id="last_name" name="last_name" type="text"/>
    <br />


    </select>



    <br />

    <input type="submit" />

</form>
<a href="/account/all"><< back</a>
<%- include("../includes/footer.ejs"); %>

</html>