<%- include("../includes/header.ejs", {title: "Add New Resume " }); %>

<h1>Add New Resume For <%= account.first_name%> <%= account.last_name%></h1>
<form action="/resume/insert" method="POST">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">


    Resume Name:<br /> <input id="resume_name" name="resume_name" type="text"/>
    <br />
    Schools <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) {
            var selected = "";


                selected = "selected";


        %>
        <option value="<%= school[i].school_id %>" <%= selected %> ><%= school[i].school_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>
    <br />
    Companies <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) {
            var selected = "";

            if(1==1) {
                selected = "selected";
            }

        %>
        <option value="<%= company[i].company_id %>" <%= selected %> ><%= company[i].company_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>
    <br />
    Skills <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) {
            var selected = "";

            if(1==1) {
                selected = "selected";
            }

        %>
        <option value="<%= skill[i].skill_id %>" <%= selected %> ><%= skill[i].skill_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>





    <br />

    <input type="submit" />

</form>
<a href="/resume/all"><< back</a>
<%- include("../includes/footer.ejs"); %>

</html>