<%- include("../includes/header.ejs", {title: "Select User " }); %>

<h1>Select User To Add Resume To</h1>
<form action="/resume/add" method="get">

    User <br />
    <select id="account_id" name="account_id" >
        <% for(var i=0; account.length > i; i++ ) {
            var selected = "";


        %>
        <option value="<%= account[i].account_id %>" <%= selected %> ><%= account[i].first_name + ' ' + account[i].last_name %></option>
        <% } %>
    </select>




    </select>



    <br />

    <input type="submit" />

</form>
<a href="/resume/all"><< back</a>
<%- include("../includes/footer.ejs"); %>

</html>