<%- include("../includes/header.ejs", {title:"Skill"}); %>
    <h1>Skill</h1>
    <ul>

        <li>Skill Name:
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                    <li><%= result[i].skill_name %></li>
                <% } %>
            </ul>
        </li>
        <li>Description:
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                <li><%= result[i].description %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>