<%- include("../includes/header.ejs", {title: "Add New Skill " }); %>

<h1>Add New Skill</h1>
<form action="/skill/insert" method="get">

    Skill Name:<br /> <input id="skill_name" name="skill_name" type="text"/>
    <br />
    Description:<br /> <input id="description" name="description" type="text"/>
    <br />
    <br />

    </select>



    <br />

    <input type="submit" />

</form>
<a href="/skill/all"><< back</a>
<%- include("../includes/footer.ejs"); %>

</html>