<%- include("../includes/header.ejs", {title: "Update " }); %>

<h1>Update <%= result.skill_name%></h1>
<form action="/skill/update" method="get">
    <input type="hidden" id="skill_id" name="skill_id" value="<%= result.skill_id %>">
    Skill Name:<br /> <input id="skill_name" name="skill_name" type="text" value="<%= result.skill_name%>"/>
    <br />
    Description:<br /> <input id="description" name="description" type="text" value="<%= result.description%>"/>
    <br />
    <br />

    </select>



    <br />

    <input type="submit" />

</form>
<a href="/skill/all"><< back</a>
<%- include("../includes/footer.ejs"); %>

</html>